body{
    margin: 0;
}
h1{
    display: block;
    border-bottom: 5px solid black;
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding: 0px;
}
#grid ol{
    border-right: 5px solid black;
    width: 120px;
    margin: 0;
    padding: 20px;
    padding-left: 40px;
    font-size: 30px;
}
#grid div{
    padding-left: 60px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
h2{
    font-size: 50px;
    margin: 0;
}
p{
    font-size: 20px;
}